@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-background: #f2e9e4;
  --color-display: #4a4e69;
  --color-btns-container: #fef3eb;
  --color-calc-btn: #f2e9e4;
  --color-calc-btn-colored: #ffb685;
  --color-warning: rgb(255, 53, 53);
  --color-background-dark: #22223b;
  --color-display-dark: #4a4e69;
  --color-btns-container-dark: #fdcdad;
  --color-calc-btn-dark: #f2e9e4;
  --color-calc-btn-colored-dark: #ffb685;
  --color-blue-shade-dark: #c3c6d5;
  --color-light: #f2e9e4;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background: var(--color-background);
}

body {
  font-size: 1.6rem;
  color: var(--color-background-dark);
}

.app {
  max-width: 96rem;
  margin: 6rem auto 0;
}

.calc {
  position: relative;
  color: var(--color-btns-container);
  max-width: 40rem;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
  border-radius: 0.5rem;
}

.calc__display {
  background: var(--color-display);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1.9rem;
  padding: 1.5em 2rem 1em;
  text-align: right;
  display: grid;
  grid-template: 1fr 1fr / 1fr 2fr;
  align-items: center;
}

.display__operation {
  grid-area: 2/1;
}

.display__holder {
  grid-area: 1/2;
  font-size: 1.6rem;
  opacity: 0.6;
}

.display__next {
  grid-area: 2/2;
}

.no-opacity {
  opacity: 0;
}

.calc__btns-container {
  background: var(--color-btns-container);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
  padding: 0.8rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.calc__btn {
  cursor: pointer;
  border: none;
  background: var(--color-calc-btn);
  color: var(--color-display);
  padding: 1em 2rem;
  border-radius: 0.2rem;
  font-size: 16px;
}

.btn--span-2 {
  grid-column: span 2;
}

.btn--colored {
  background: var(--color-calc-btn-colored);
  color: var(--color-display);
}

.warning {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-warning);
  border-radius: 0.5rem;
  padding: 10rem;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transition: z-index 0ms, opacity 150ms ease-in-out;
}

.warning--active {
  z-index: 1;
  opacity: 1;
}

.warning .fas {
  font-size: 7.5rem;
  margin-bottom: 2rem;
}

.warning p {
  font-size: 2.5rem;
  font-weight: 900;
}
